@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.page {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-image: url('/images/dj-leo-e-dj-dim.jpg');
  background-size: cover;
  background-position: center;
}

.font-family-bebas-neue {
  font-family: 'Bebas Neue', cursive;
}